<div class="row">
    <div class="col s12 m4 l3">
        <div class="info" [innerHTML]="sanitizer.bypassSecurityTrustHtml(summary)">
        </div>
        <div class="buttonContainer">
            <div class="buttons">
                <button class="waves-effect waves-teal btn-flat purple-text text-darken-4" title="Start" (click)="startSandbox()" *ngIf="!onTest && !onOpenMode">
                    <fa-icon [icon]="faPlay"></fa-icon>
                </button>
                <span *ngIf="!onOpenMode" [ngClass]="{'': onOutOfTime}">Left: {{ time }} {{ timeUnit }} <fa-icon [icon]="timeIcon" [pulse]='onTest'></fa-icon> </span>
                <span *ngIf="onOpenMode" >Elapsed Time: {{ time | time : 'hh:MM:ss'}}</span>
                <button class="waves-effect waves-teal btn-flat purple-text text-darken-4" title="Test" *ngIf="onTest || onOpenMode" (click)="startTest()">
                    <fa-icon [icon]="faVial" [pulse]="onRunTesting" ></fa-icon>
                </button>
                <button class="waves-effect waves-teal btn-flat purple-text text-darken-4" title="Send" *ngIf="(onTest || onRunTesting) && !onOpenMode" (click)="openSendModal()">
                    <fa-icon [icon]="faPaperPlane"></fa-icon>
                </button>
            </div>
        </div>
        <div class="output" *ngIf="outputText" [innerHTML]="sanitizer.bypassSecurityTrustHtml(outputText)">
        </div>
        <div *ngIf="outputText">
            <button class="waves-effect waves-teal btn-flat purple-text text-darken-4" title="Clear Output" (click)="clearOutput()" [disabled]="onRunTesting" >
                <fa-icon [icon]="faTrash"></fa-icon>
            </button>
        </div>
    </div>
    <div class="col s12 m8 l9">
        <ngx-monaco-editor [(ngModel)]="codeCreated"
                           [options]="{theme: 'vs-ligth', language: 'javascript', readOnly: !onTest || onRunTesting}"
                           (onInit)="setKeyDown($event)"
                           class="editor">
        </ngx-monaco-editor>
    </div>
</div>
<app-send-code-modal [(showModal)]="getUserInfo"
                     [codeCreated]="codeCreated"
                     [problemName]="problemName"
                     [startedDate]="startedDate"
                     (dataSending)="onSended()"
></app-send-code-modal>
<app-code-selection-modal *ngIf="onSelectionCode" (selectedCode)="selectData($event)" (onClose)="onSelectionCode = false;"></app-code-selection-modal>