<div class="row">
    <div class="col s12 m4 l3">
        <div class="info" [innerHTML]="sanitizer.bypassSecurityTrustHtml(summary)">
        </div>
        <div class="buttonContainer">
            <div class="buttons">
                <button class="waves-effect waves-teal btn-flat purple-text text-darken-4" title="Start" (click)="startSandbox()" *ngIf="!onTest">
                    <fa-icon [icon]="faPlay"></fa-icon>
                </button>
                <span [ngClass]="{'': onOutOfTime}">Left: {{ time }} {{ timeUnit }} <fa-icon [icon]="timeIcon" [pulse]='onTest'></fa-icon> </span>
                <button class="waves-effect waves-teal btn-flat purple-text text-darken-4" title="Test" *ngIf="onTest" (click)="startTest()">
                    <fa-icon [icon]="faVial" [pulse]="onRunTesting" ></fa-icon>
                </button>
                <button class="waves-effect waves-teal btn-flat purple-text text-darken-4" title="Send" *ngIf="onTest || onRunTesting" (click)="openSendModal()">
                    <fa-icon [icon]="faPaperPlane"></fa-icon>
                </button>
            </div>
        </div>
        <div class="output" *ngIf="outputText" [innerHTML]="sanitizer.bypassSecurityTrustHtml(outputText)">
        </div>
        <div *ngIf="outputText">
            <button class="waves-effect waves-teal btn-flat purple-text text-darken-4" title="Clear Output" (click)="clearOutput()" [disabled]="onRunTesting" >
                <fa-icon [icon]="faTrash"></fa-icon>
            </button>
        </div>
    </div>
    <div class="col s12 m8 l9">
        <ngx-monaco-editor [(ngModel)]="codeCreated"
                           [options]="{theme: 'vs-ligth', language: 'javascript', readOnly: !onTest || onRunTesting}"
                           (onKeyDown)="editorKeyDown($event)">
        </ngx-monaco-editor>
    </div>
</div>

<div #sendModal class="modal">
    <div class="modal-content">
        <h4>Please give me some information about you</h4>
        <div class="row" [formGroup]="userDataForm">
            <div class="input-field col s12">
                <fa-icon [icon]="faUser" class="prefix"></fa-icon>
                <input id="name" type="text" class="validate" formControlName="name">
                <label for="name">Full Name</label>
            </div>
            <div class="input-field col s12">
                <fa-icon [icon]="faAt" class="prefix"></fa-icon>
                <input id="email" type="email" class="validate" formControlName="email">
                <label for="email">E-mail</label>
                <span class="helper-text" data-error="Invalid e-mail"></span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="modal-close waves-effect waves-green btn-flat" *ngIf="onSendData" (click)="sendData()" [disabled]="userDataForm.invalid">
            Send
        </button>
    </div>
</div>